
# ECE795 Advanced Big Data Analytics Homework 2

Set up Pyspark Environment.

Tips for Colab:

1. You will be disconnected if you are idle for more than 90 minutes and will be mandatorily disconnected after 12 hour connection. 

2. Once you got disconnected, you need to execute the codes from the beginning to setup the environment again.

3. For the purpose of homework, it should be sufficient since each problem should not take more than 5 minutes to generate the results.

4. To facilitate the use of Colab, you can use "MainMenu - Runtime - Run all” to run all the cells in the notebook. So you do not have to click each cell to setup the environment.

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Congrats! Your Colab is ready to run Pyspark.

# Read input text file to RDD 

Download the input data from [here](https://raw.githubusercontent.com/umddm/ECE795_Homeworks/master/clust_B.txt).

In [0]:
!wget https://raw.githubusercontent.com/umddm/ECE795_Homeworks/master/clust_B_part1.txt
!wget https://raw.githubusercontent.com/umddm/ECE795_Homeworks/master/clust_B_part2.txt

Now that we have input data, we can start to do the homework. 

In homework2, we have two input datas, which called 'clust_B_part1.txt' and 'clust_B_part2.txt'. The 'clust_B_part1.txt' contains the data with word id start with 2 to 9, and the 'clust_B_part2.txt' contains the data with count higher than 100.

## Question 1: Please generate a RDD with all the words that appear in clust_B_part1.txt and count how many times the word 'will' appears.

In [0]:
#sc.textFile
from pyspark import SparkConf, SparkContext
sc = SparkContext.getOrCreate()

#Question_1:

#Fill out here

## Question 2: Please find how many different words in both 'clust_B_part1.txt' and 'clust_B_part2.txt'. 
### Example input and output:
```
'clust_B_part1.txt'
18932	15059	joe the plumber	1324836
324	306	i'm joe the plumber	1452807
17243	6034	web 2 0	6560

'clust_B_part2.txt'
105	103	a day at the beach	39104
114	111	music of the plumber	33003
173	153	how it's made	67526

output is 2
the words are 'the', 'plumber'
```

In [0]:
#Question_2

#Fill out here

## Question 3: Please generate a rdd with elements in clust_B_part2.txt but not in clust_B_part1.txt. Then find the maximum number in the first column except the rows have word 'love' in the third column for the new RDD by the Reduce action.

In [0]:
#Question_3

#Fill out here

## Question 4: Please write your answer in a text cell to determine whether these functions can be used in the Reduce operation or not.

In [0]:
#Question_4

#Function A
def functionA(x, y):
  if x == y:
    return x + y
  else:
    return x * y

#Function B
def functionB(x, y):
  if str(x) in str(y):
    return x
  else:
    return y

#Function C
def functionC(x, y):
  return x / 2 + y

#Function D
def functionD(x, y):
  return x ** 3 / y

#Function E
def functionE(x, y):
  return (x + y) ** 2

#Function F
def functionF(x, y):
  return 2 * x * y

#Function G
def functionG(x, y):
  return x + (x + y) * 2  

#Function H
def functionH(x, y):
  return x + y + x * y
#Fill out here